<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.menu.dao.CityDOMapper" >
  <resultMap id="BaseResultMap" type="com.menu.bean.CityDO" >
    <id column="city_code" property="cityCode" jdbcType="VARCHAR" />
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="province_code" property="provinceCode" jdbcType="VARCHAR" />
    <result column="en_name" property="enName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    city_code, id, name, province_code, en_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from city
    where city_code = #{cityCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from city
    where city_code = #{cityCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.menu.bean.CityDO" >
    insert into city (city_code, id, name, 
      province_code, en_name)
    values (#{cityCode,jdbcType=VARCHAR}, #{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{provinceCode,jdbcType=VARCHAR}, #{enName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.menu.bean.CityDO" >
    insert into city
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cityCode != null" >
        city_code,
      </if>
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="provinceCode != null" >
        province_code,
      </if>
      <if test="enName != null" >
        en_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cityCode != null" >
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null" >
        #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="enName != null" >
        #{enName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.menu.bean.CityDO" >
    update city
    <set >
      <if test="id != null" >
        id = #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null" >
        province_code = #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="enName != null" >
        en_name = #{enName,jdbcType=VARCHAR},
      </if>
    </set>
    where city_code = #{cityCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.menu.bean.CityDO" >
    update city
    set id = #{id,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      province_code = #{provinceCode,jdbcType=VARCHAR},
      en_name = #{enName,jdbcType=VARCHAR}
    where city_code = #{cityCode,jdbcType=VARCHAR}
  </update>
  <select id="selectAll" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from city

  </select>

  <select id="selectByName" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from city
    where  province_code = #{provinceCode,jdbcType=VARCHAR}  limit 1
  </select>

  <select id="selectByNameAndCode" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from city
    where   name  LIKE concat( '%',#{cityName},'%')  and  province_code = #{provinceCode,jdbcType=VARCHAR}
  </select>
</mapper>